<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 5</key>
	<string>啊</string>
	<key>New item - 4</key>
	<string>吧</string>
	<key>New item - 3</key>
	<string>辞</string>
	<key>New item - 2</key>
	<string>的</string>
	<key>New item</key>
	<string>饿</string>
</dict>
</plist>
